* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea {
  margin: 0;
  padding: 0;
  max-width: 65ch;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 58rem;
  min-width: 24rem;
  width: 100%;
  height: 100%;
  container: app-container / inline-size;
}

.app-header {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 1rem;
}

.app-header__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #00798c;
}

.app-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  gap: 1rem;
  padding: 1rem;
}

@container app-container (max-width: 44rem) {
  .app-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@container app-container (max-width: 34rem) {
  .app-content {
    height: 100%;
  }
}

.app-translator__label {
  user-select: none;
  position: absolute;
  top: 10px;
  font-size: 0.875rem;
  line-height: 1;
  background-color: #edae49;
  color: #333333;
  width: fit-content;
  padding: 0.375rem 0.875rem;
  border-radius: 0.275rem;
  font-weight: 500;
}

.app-translator {
  padding: 0 0.875rem;
  min-height: 12rem;
  height: 100%;
  border-radius: 0.275rem;
  font-size: 1.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.app-translator:first-child {
  background-color: #00798c;
  color: #ffffff;
}

.app-translator:last-child {
  background-color: #edae49;
  color: #333333;
}

.app-translator__input {
  background-color: transparent;
  border: 1px solid white;
  resize: none;
  overflow: hidden;
  min-height: 2rem;
  width: 100%;
  padding: 0.375rem;
  outline: none;
  border: none;
  color: white;
  font-size: 1.375rem;
}

.app-translator__input::selection {
  background-color: #edae49;
  color: #333333;
}

.app-translator__translation::selection {
  background-color: #00798c;
  color: #ffffff;
}

.app-translator__select {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #edae49;
  font-size: 1.025rem;
  font-weight: 550;
  color: #333333;
  padding: 0.45em 1.7em 0.45em 0.75em;
  border-radius: 0.275rem;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

.app-translator__select:hover {
  background-color: #de9a20;
}

.app-translator__options {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-translator__button {
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.275rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #d1495b;
  color: #ffffff;
  padding: 0.775rem;
  border-radius: 50%;
  border: none;
  font-size: 0.975rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: #333333 0 0 0.2rem;
  transition: background-color 0.1s ease-in-out;
}

.app-translator__button:hover {
  background-color: #c13f4f;
}

.app-translator__loading-icon {
  opacity: 0;
  color: rgba(68, 68, 68, 0.81);
  position: absolute;
  right: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.app-translator__loading-icon.loading {
  opacity: 1;
  animation: rotate 1s linear infinite;
}

.slide-from-left {
  animation: slide-from-left 0.475s ease-in-out backwards;
}

.rotate {
  animation: rotate 1s linear infinite;
}

.slide-to-right {
  animation: slide-to-right 0.375s ease-in-out forwards;
}

.loadingIcon__loading {
  animation-play-state: running !important;
  animation: slide-from-left 0.475s forwards;
  opacity: 1 !important;
}

.sendIcon__loading {
  animation-play-state: running !important;
  animation: slide-to-right 0.375s ease-in-out forwards;
  opacity: 0;
}

.app-translator__btn:disabled,
.app-translator__btn:disabled:hover {
  background-color: #c56c76;
  cursor: not-allowed;
}

.app-translator__btn:hover {
  background-color: #c13f4f;
}

.app-translator__copy-button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  padding: 0.475rem 0.275rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
  cursor: pointer;
  outline: none;
  bottom: 13px;
  right: 13px;
  transition: background-color 0.1s ease-in-out;
}

.app-translator__copy-button > svg {
  height: 1.2rem;
}

.app-translator__copy-button:disabled,
.app-translator__copy-button:disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
}

.app-translator__copy-button:hover {
  background-color: #0202021f;
}

.js-check-icon {
  transition: opacity 0.2s ease-in-out;
  transform: scale(0.8);
  opacity: 0;
  position: absolute;
  will-change: transform, opacity;
}

.js-copy-icon {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  will-change: transform, opacity;
}

.zoom-in {
  -webkit-animation: scale-in-center 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0.275s;
  animation-delay: 0.075s;
}

.zoom-out {
  -webkit-animation: scale-out-center 0.075s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.075s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }

  50% {
    transform: translateX(0.3275rem);
    opacity: 1;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes slide-to-left {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }

  50% {
    transform: translateX(0.175rem);
    opacity: 1;
  }

  100% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

@keyframes slide-to-right {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }

  50% {
    transform: translateX(-0.175rem);
    opacity: 1;
  }

  100% {
    transform: translateX(2rem);
    opacity: 0;
  }
}

@keyframes slide-back {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-1rem);
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-2-14 10:30:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-2-14 10:30:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
